.card {
	display: flex;
	justify-content: center;
	color: white;
	border-width: 4;
	border-color: black;
	border-radius: 20px;
	background-color: #1f1f1f !important;
	margin-top: 50px;
	width: 450px;
	/* max-width: 80vw; */
}

.cardHeader {
	width: 450px !important;
	/* max-width: 80vw; */
}

.card img {
	object-fit: cover;
}

.metal {
	border-radius: 0.5em;
	background-image: -webkit-repeating-linear-gradient(
			left,
			hsla(0, 0%, 100%, 0) 0%,
			hsla(0, 0%, 100%, 0) 6%,
			hsla(0, 0%, 100%, 0.1) 7.5%
		),
		-webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0)
					4%, hsla(0, 0%, 0%, 0.03) 4.5%),
		-webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(
						0,
						0%,
						100%,
						0
					)
					1.2%, hsla(0, 0%, 100%, 0.15) 2.2%),
		linear-gradient(
			180deg,
			hsl(0, 0%, 78%) 0%,
			hsl(0, 0%, 88%) 47%,
			hsl(0, 0%, 78%) 53%,
			hsl(0, 0%, 70%) 100%
		);
}
