@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* animation for header */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

.form-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5%;
  height: 100%;
}


.form-wrapper > div {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: min(668px, 95%);
  box-shadow: 0 0 8px 1px grey;
  padding: 1rem;
  padding-top: 1.5rem;
  border-radius: 36px;
}

.input-wrapper {

  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: min(90%, 600px);
  padding: 1rem;
}
.input-wrapper > label {
  margin-bottom: 0.25rem
}
.input-wrapper > input, textarea {
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  padding: 0.25rem
}





.form-wrapper > div .padawan-form-submit-btn {
  background-color: rgb(174, 18, 247);
}

@media only screen and (max-width: 768px)  {
  .form-wrapper > div {
    padding: 0.5rem  
  }
  .form-wrapper > div {
    padding: 1rem 0.25rem 1rem 0.25rem
  }
  .form-wrapper {
    padding: 2%
  }
}


/* better player */

.better-player-wrapper {
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid black;
  display: flex;
  width: min(500px, 80vw);
  flex-direction: column;
  align-items: center;
  margin: 2rem
}

.better-player-header {
  height: 100px;
  width: 100%;
}
/* 
@media only screen and (max-width: 768px)  {
  .better-player-wrapper { width: }
} */

.better-player-pfp-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0px;
  border-radius: 100%;
  padding-bottom: 48px;
  margin-top: -48px;
  padding-top: 48px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1rem;
  z-index: 1;
}

.better-player-name-wrapper {
  font-weight: bold;
  font-size: 1.2rem;
}

.bp-flex-test {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: orange;
}

.text-block-wrapper {
  width:80%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 3.5rem;
  overflow: hidden;
  justify-content: center;
}

.text-block-wrapper > div {
  text-transform: capitalize;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 800;
  color:white;
  background-color: black;
  border-radius: 4px;
  margin:0.5rem
}

.better-player-bio {
  border: 2px solid orange;
  padding: 0.75rem;
  height: 300px;
  width: 100%
}

.better-player-bio > p {
  white-space:pre-wrap;
  font-size: 1rem;
  font-weight: 400;
}
.better-player-bio > h3 { 
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0 0.5rem 0
}

